body::before {
    display: block;
    content: '';
    height: 80px;
}

.darken-icon {
    filter: brightness(10%);
}

#img-logo {
    width: 530;
    height: 450px;
}

#img-aprenda {
    width: 100%;
    height: 100%;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

#map {

    width: 100%;

    height: 400px;

    background-color: grey;

}